<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<style type="text/css">
:root {
    --body-max-width: 35rem;
    --font-size-large: 20pt;
    --font-size-medium: {{ mediumFontSize }}pt;
    --font-size-small: 10pt;
    --background-color: #fff;
    --text-color-primary: #111;
    --text-color-secondary: #777;
    --border-color: rgba(0,0,0,0.1);
    --line-height: 1.4;
}

@media screen, print {
    body {
        font-family: {{ standardFamilyFont }};
        font-size: var(--font-size-medium);
        line-height: var(--line-height);
        color: var(--text-color-primary);
        background: var(--background-color);
        margin-top: 1.25em;
        margin-bottom: 2em;
    }
    a {
        color: var(--text-color-primary);
        cursor: pointer;
    }
    hr {
        border-top: none;
        border-bottom: 1px solid var(--border-color);
    }
    header {
        max-width: var(--body-max-width);
        margin: 0 auto;
        margin-bottom: 1em;
    }
    .header-image {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid var(--border-color);
    }
    .header-image img {
        max-width: 40px;
        height: auto;
    }
    .header-title a {
        font-family: {{ serifFont }};
        font-size: var(--font-size-large);
        font-weight: 700;
        color: var(--text-color);
        line-height: 1.2;
        letter-spacing: -0.02em;
        text-decoration: none;
        text-balance: wrap;
    }
    .header-author {
        margin-top: 0.5em;
        font-size: var(--font-size-small);
        font-weight: 700;
        color: var(--text-color-secondary);
    }
    .header-author a {
        color: inherit;
        text-decoration: none;
    }
    .header-date {
        font-weight: 400;
        margin-left: 4px;
        font-size: var(--font-size-small);
    }
    .article-enclosure {
        font-size: var(--font-size-small);
        color: var(--text-color-secondary);
        font-style: italic;
        margin-top: 0.5em;
        overflow-wrap: break-word;
        word-wrap: break-word;
    }
    .content {
        max-width: var(--body-max-width);
        display: block;
        margin: 0 auto;
        font-family: {{ serifFont }};
        line-height: 1.4;
    }
    .content img,
    .content video,
    .content iframe {
        height: auto;
        max-width: 100%;
    }
    .complete-link {
        text-align: center;
        max-width: var(--body-max-width);;
        margin: 0 auto;
        padding-top: 0.2em;
        margin-top: 1em;
    }
}

{{ sidebarCss }}
</style>
<title>.</title>
</head>
<body>
{% if not loadExternalReference %}
    <p class="advisory">
        {% i18n_var "<b>Note:</b> For security reasons, external reference is blocked (See configure dialog)." as msg %}
        {{ msg|safe }}
    </p>
{% endif %}

{% if articles %}
{% for article in articles %}
  <header>
    {% if article.imageFeed %}
    <div class="header-image">
        {{ article.imageFeed|safe }}
    </div>
    {% endif %}

    {% if article.strippedTitle %}
    <div class="header-title" dir="{{ applicationDir }}">
        <a href="{{ article.articleLinkUrl }}">{{ article.strippedTitle|safe }}</a>
    </div>
    {% endif %}

    {% if article.author %}
    <div class="header-author">
        {{ article.author|safe }}
        {%if article.articlePubDate %}
            <time class="header-date">
                {{ article.articlePubDate }}
            </time>
        {% endif %}
    </div>
    {% endif %}

    {% if article.enclosure %}
    <div class="article-enclosure">
        <span dir="{{ applicationDir }}">{{ enclosureI18n }}: </span>
        <span class="enclosure">{{ article.enclosure|safe }}</span>
    </div>
    {% endif %}
  </header>

  {% if article.content %}
  <div dir="{{ applicationDir }}">
    <article class="content">{{ article.content|safe }}</article>
  </div>
  {% endif %}

  {% if article.articleCompleteStoryLink %}
  <div class="complete-link">
    <hr>
    <a href="{{ article.articleCompleteStoryLink }}">{{ completeStoryI18n }}</a>
  </div>
  {% endif %}
{% endfor %}
{% endif %}

</body>
</html>
